<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Registro de usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="user.nome" required name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.senha" required name="senha"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary">Salvar</ion-button>
    <ion-button type="button" expand="block" color="secondary" [routerLink]="['/auth/login']">Logar</ion-button>
  </form>
</ion-content>
